@import "tailwindcss";

@theme {
  --color-accent: #BBBBC5;
  --color-primary: #D0CFCD;
  --color-secondary: #69696E;
  --color-background: #151516;
  --color-fill: #232323;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}