@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark mode variables */
  --color-dark-accent: #BBBBC5;
  --color-dark-primary: #D0CFCD;
  --color-dark-secondary: #69696E;
  --color-dark-background: #151516;
  --color-dark-fill: #232323;

  /* Light mode variables - using same values as dark mode for now */
  --color-accent: var(--color-dark-accent);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
  --color-background: var(--color-dark-background);
  --color-fill: var(--color-dark-fill);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: var(--color-dark-accent);
    --color-primary: var(--color-dark-primary);
    --color-secondary: var(--color-dark-secondary);
    --color-background: var(--color-dark-background);
    --color-fill: var(--color-dark-fill);
  }
}

body {
  background-color: var(--color-background);
}