---
import { Image } from "astro:assets";
import { services } from "../data/services";
import nlsImage from "../assets/nls.png";
---

<section
    id="home"
    class="w-full flex flex-col gap-8 px-4 md:px-12 xl:px-24 py-8 md:py-12 xl:py-20 mt-24 bg-background"
>
    <div class="w-full">
        <h1
            class="hero -translate-x-10 opacity-0 text-[12vw] xl:text-[12vw] font-extrabold leading-none tracking-tight uppercase text-left text-accent"
        >
            NINE LIVES STUDIO
        </h1>
    </div>
    <div
        class="home translate-y-10 opacity-0 flex-1 w-full grid grid-cols-1 xl:grid-cols-3 gap-8 items-end place-items-end"
    >
        <div class="flex flex-col gap-4 self-end w-full">
            <h2 class="font-bold text-base xl:text-lg mb-1 text-primary">
                Servicios
            </h2>
            <ol class="flex flex-col gap-2">
                {
                    services.map((u) => (
                        <li class="flex items-center gap-3 rounded-xl p-4 text-sm xl:text-base bg-fill">
                            <span class="text-2xl">{u.icon}</span>
                            <span class="text-primary">{u.title}</span>
                        </li>
                    ))
                }
            </ol>
        </div>
        <div class="flex flex-col self-end w-full">
            <p class="text-base xl:text-lg mb-3 text-primary">
                Nine Lives Studio es un espacio dedicado al sonido en todas sus
                formas: la música que se mezcla, las emociones que se masterizan
                y las historias que se cuentan a través del audio. Este proyecto
                nace desde el deseo de trabajar el sonido con intención, con
                detalle, con tiempo.
            </p>
            <a
                href="#about"
                class="underline font-medium text-sm whitespace-nowrap text-accent"
                >Sobre nosotros</a
            >
        </div>
        <div
            class="flex justify-center items-center h-48 md:h-64 xl:h-80 w-full"
        >
            <Image
                src={nlsImage}
                alt="Nine Lives Studio Logo"
                class="max-w-full max-h-full object-contain"
            />
        </div>
    </div>
</section>

<script>
    import("gsap").then(({ gsap }) => {
        gsap.to(".hero", {
            x: 0,
            opacity: 1,
            duration: 1,
            ease: "back.out",
        });

        gsap.to(".home", {
            y: 0,
            opacity: 1,
            duration: 1,
            ease: "back.out",
        });
    });
</script>
