---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../pages/Home.astro";
import Music from "../pages/Music.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---

<Layout>
	<Navbar />
	<Home />
	<main>
		<Music />
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>
