---
import Socials from "../components/Socials.astro";
import { socialLinks } from "../config/socials";
---

<section
    id="contact"
    class="w-full flex flex-col gap-8 px-4 md:px-12 xl:px-24 py-8 md:py-12 xl:py-20 bg-background"
>
    <h3
        class="w-full text-left font-extrabold text-[8vw] leading-none tracking-tight uppercase mb-8 text-accent"
    >
        NINE LIVES STUDIO
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        <article>
            <h4 class="text-base xl:text-lg font-bold text-primary">
                Información general
            </h4>
            <p class="my-3 text-base xl:text-lg text-primary">Escríbenos a:</p>
            <a
                class="text-base xl:text-lg font-medium underline text-accent"
                href="mailto:info@ninelivestudio.com">info@ninelivestudio.com</a
            >
        </article>
        <article>
            <h4 class="text-base xl:text-lg font-bold text-primary">Booking</h4>
            <p class="my-3 text-base xl:text-lg text-primary">
                ¿Quieres trabajar con nosotros?
            </p>
            <a
                class="font-medium underline text-accent"
                href={socialLinks.instagram}
                target="_blank"
                rel="noopener noreferrer">@ninelivesstudio_</a
            >
        </article>
        <article>
            <h4 class="text-base xl:text-lg font-bold text-primary">
                Redes sociales
            </h4>
            <p class="my-3 text-base xl:text-lg text-primary">
                Síguenos y mantente al tanto de nuestros últimos proyectos
            </p>
            <div class="my-3 flex gap-4">
                <Socials />
            </div>
        </article>
    </div>
</section>
