---
interface Props {
    type: string;
    title: string;
    url: string;
}

const { type, title, url } = Astro.props;

const typeEmoji =
    {
        "MIX & MASTERING": "🎚️",
    }[type] || "🎵";
---

<li>
    <article class="flex items-center justify-between py-6">
        <header class="flex items-center flex-1">
            <figure
                class="font-bold text-[22px] min-w-[40px]"
                aria-hidden="true"
            >
                {typeEmoji}
            </figure>
            <div class="flex-1 flex flex-col items-start px-4">
                <h2 class="text-base font-medium text-primary">{title}</h2>
                <p class="text-xs uppercase font-semibold mt-1 text-secondary">
                    {type}
                </p>
            </div>
        </header>
        <footer>
            <a
                class="underline font-medium text-sm whitespace-nowrap text-accent"
                href={url}
            >
                Escúchala aquí
            </a>
        </footer>
    </article>
</li>
