---
import "@fortawesome/fontawesome-free/css/all.css";
---

<ol class="grid grid-flow-col gap-5 text-base">
    <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-soundcloud fa-lg"></i>
        </a>
    </li>
</ol>
