---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		/>
		<title>
			Nine Lives Studio | Estudio de Mezcla, Mastering y Postproducción de
			Audio
		</title>

		<meta
			name="description"
			content="Estudio con sede en Argentina. Mezcla, mastering y postproducción de audio remota para artistas y productoras de todo el mundo."
		/>
		<meta
			name="keywords"
			content="mezcla, mastering, postproducción de audio, estudio remoto, audio profesional, estudio en Argentina, producción musical, sonido profesional"
		/>
		<meta name="author" content="Nine Lives Studio" />
		<meta name="robots" content="index, follow" />

		<meta
			property="og:title"
			content="Nine Lives Studio | Mezcla, Mastering y Postproducción de Audio"
		/>
		<meta
			property="og:description"
			content="Estudio con sede en Argentina. Mezcla, mastering y postproducción de audio remota para artistas y productoras de todo el mundo."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ninelivestudio.com" />
		<meta
			property="og:image"
			content="https://www.ninelivestudio.com/nls-og.jpeg"
		/>
		<meta
			property="og:site_name"
			content="Nine Lives Studio | Mezcla, Mastering y Postproducción de Audio"
		/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Nine Lives Studio | Mezcla, Mastering y Postproducción de Audio"
		/>
		<meta
			name="twitter:description"
			content="Estudio con sede en Argentina. Mezcla, mastering y postproducción de audio remota para artistas y productoras de todo el mundo."
		/>
		<meta
			name="twitter:image"
			content="https://www.ninelivestudio.com/nls-og.jpeg"
		/>
		<link rel="canonical" href="https://www.ninelivestudio.com" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "Nine Lives Studio",
				"image": "https://ninelivestudio.com/image.png",
				"@id": "https://ninelivestudio.com",
				"url": "https://ninelivestudio.com",
				"telephone": "+54 9 11 2737-7284",
				"priceRange": "69",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Formosa 523",
					"addressLocality": "Cdad. Autónoma de Buenos Aires",
					"postalCode": "C1424BZK",
					"addressCountry": "AR"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": -34.6212315,
					"longitude": -58.4382724
				},
				"openingHoursSpecification": {
					"@type": "OpeningHoursSpecification",
					"dayOfWeek": [
						"Monday",
						"Tuesday",
						"Wednesday",
						"Thursday",
						"Friday",
						"Saturday",
						"Sunday"
					],
					"opens": "00:00",
					"closes": "23:59"
				},
				"sameAs": [
					"https://instagram.com/ninelivesstudio_",
					"https://youtube.com/@Nine-Lives-Studio",
					"https://soundcloud.com/ninelivesstudio",
					"https://ninelivestudio.com"
				]
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
